@media screen and (min-width: 320px) and (max-width: 480px) {
  html .header, body .header {
    position: absolute;
  }
  html .header__links, body .header__links {
    padding-top: 20px;
    padding-left: 5px;
    width: 180px;
    height: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    background-color: #191F28;
    text-align: left;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #191F28;
  }
  html .header__link-about, body .header__link-about {
    position: absolute;
    top: -30px;
    opacity: 0;
  }
  html .header__link-projects, body .header__link-projects {
    position: absolute;
    top: -30px;
    margin-right: 0;
    opacity: 0;
  }
  html .header__contact, body .header__contact {
    position: absolute;
    top: -30px;
    opacity: 0;
  }
  html .header__logo, body .header__logo {
    grid-area: 1/1/2/2;
    margin-right: 0;
  }
  html .header .activeBurgerMenu, body .header .activeBurgerMenu {
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header, body .header .activeBurgerMenu .header {
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__links, body .header .activeBurgerMenu .header__links {
    position: relative;
    bottom: 50px;
    right: 50px;
    background-color: #1D1D1D;
    border: 1px solid #EE6C4D;
    height: 310px;
  }
  html .header .activeBurgerMenu .header__links a, body .header .activeBurgerMenu .header__links a {
    transition: 0.35s;
  }
  html .header .activeBurgerMenu .header__links a span:hover, body .header .activeBurgerMenu .header__links a span:hover {
    border: none;
    transition: 0.35s;
  }
  html .header .activeBurgerMenu .header__links a span:active, body .header .activeBurgerMenu .header__links a span:active {
    transition: 0.35s;
    background-color: #191F28;
    color: #EE6C4D;
  }
  html .header .activeBurgerMenu .header__link-about, body .header .activeBurgerMenu .header__link-about {
    position: absolute;
    transform: translateY(140px);
    opacity: 1;
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__link-projects, body .header .activeBurgerMenu .header__link-projects {
    position: absolute;
    transform: translateY(200px);
    margin-right: 0;
    opacity: 1;
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__logo, body .header .activeBurgerMenu .header__logo {
    border: none;
  }
  html .header .activeBurgerMenu .header__contact, body .header .activeBurgerMenu .header__contact {
    position: absolute;
    transform: translateY(260px);
    opacity: 1;
    transition: 0.3s;
  }
  .about .footer {
    position: absolute;
    top: 1110px;
  }
  .projects .footer {
    position: absolute;
    top: 1110px;
  }
  .projects-pages .footer {
    position: absolute;
    top: 1110px;
  }
  .contact-us .footer {
    position: absolute;
    top: 1110px;
  }
}
@media screen and (min-width: 481px) and (max-width: 801px) {
  html .header, body .header {
    position: absolute;
  }
  html .header__links, body .header__links {
    padding-top: 20px;
    padding-left: 5px;
    width: 180px;
    height: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    background-color: #191F28;
    text-align: left;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #191F28;
  }
  html .header__link-about, body .header__link-about {
    position: absolute;
    top: -30px;
    opacity: 0;
  }
  html .header__link-projects, body .header__link-projects {
    position: absolute;
    top: -30px;
    margin-right: 0;
    opacity: 0;
  }
  html .header__contact, body .header__contact {
    position: absolute;
    top: -30px;
    opacity: 0;
  }
  html .header__logo, body .header__logo {
    grid-area: 1/1/2/2;
    margin-right: 0;
  }
  html .header .activeBurgerMenu, body .header .activeBurgerMenu {
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header, body .header .activeBurgerMenu .header {
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__links, body .header .activeBurgerMenu .header__links {
    position: relative;
    bottom: 50px;
    right: 50px;
    background-color: #1D1D1D;
    border: 1px solid #EE6C4D;
    height: 310px;
  }
  html .header .activeBurgerMenu .header__links a, body .header .activeBurgerMenu .header__links a {
    transition: 0.35s;
  }
  html .header .activeBurgerMenu .header__links a span:hover, body .header .activeBurgerMenu .header__links a span:hover {
    border: none;
    transition: 0.35s;
  }
  html .header .activeBurgerMenu .header__links a span:active, body .header .activeBurgerMenu .header__links a span:active {
    transition: 0.35s;
    background-color: #191F28;
    color: #EE6C4D;
  }
  html .header .activeBurgerMenu .header__link-about, body .header .activeBurgerMenu .header__link-about {
    position: absolute;
    transform: translateY(140px);
    opacity: 1;
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__link-projects, body .header .activeBurgerMenu .header__link-projects {
    position: absolute;
    transform: translateY(200px);
    margin-right: 0;
    opacity: 1;
    transition: 0.3s;
  }
  html .header .activeBurgerMenu .header__logo, body .header .activeBurgerMenu .header__logo {
    border: none;
  }
  html .header .activeBurgerMenu .header__contact, body .header .activeBurgerMenu .header__contact {
    position: absolute;
    transform: translateY(260px);
    opacity: 1;
    transition: 0.3s;
  }
}