@media screen and (min-width: 481px) and (max-width: 1024px) {
  html .main .footer, body .main .footer {
    position: absolute;
  }
  html .projects-main .footer, body .projects-main .footer {
    position: absolute;
  }
  html .projects-page .footer, body .projects-page .footer {
    position: absolute;
  }
  html .contacts .footer, body .contacts .footer {
    position: absolute;
  }
}