@charset "UTF-8";
/*Обнуление*/
@import url("/css/nullstyle.css");
/*Импорт*/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
/*Шаблоны*/
/*Основные параметры сайта*/
html, body {
  scroll-behavior: smooth;
  font-family: "Almarai", sans-serif;
  background-color: #191F28;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  background: #191F28;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  background: #EE6C4D;
  border-radius: 8px;
  border: 3px solid #EE6C4D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html .main, body .main {
  position: absolute;
  width: 1440px;
  height: 3564px;
}
html .main .footer, body .main .footer {
  position: absolute;
  top: 3700px;
}
html .projects-main, body .projects-main {
  width: 1440px;
  height: 1024px;
}
html .projects-main footer, body .projects-main footer {
  position: absolute;
  top: 1000px;
}
html .projects-page, body .projects-page {
  width: 1440px;
  height: 1024px;
}
html .projects-page footer, body .projects-page footer {
  position: absolute;
  top: 1100px;
}
html .contacts, body .contacts {
  position: relative;
  width: 1440px;
  height: 1024px;
}
html .contacts .footer, body .contacts .footer {
  position: absolute;
  top: 1100;
  left: 0;
}

/*header*/
.header {
  position: relative;
  z-index: 2;
}
.header__links {
  display: flex;
  text-align: center;
  position: absolute;
  width: 1236px;
  height: 74.68px;
  left: 100px;
  top: 60.83px;
  transition: 0.35s;
}
.header__links a {
  transition: 0.35s;
}
.header__links a span {
  border: 1px solid #191F28;
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  transition: 0.35s;
}
.header__links a span:hover {
  border: 1px solid #EE6C4D;
  transition: 0.35s;
}
.header__links a span:active {
  transition: 0.35s;
  background-color: #EE6C4D;
  color: #191F28;
}
.header__link-about {
  margin-right: 39px;
  padding-top: 20px;
}
.header__link-projects {
  margin-right: 462px;
  padding-top: 20px;
}
.header__logo {
  margin-right: 464px;
  border-radius: 20px;
  width: 100px;
  height: 90px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  text-align: center;
  transform: translateY(-10px);
  border: 2px solid #191F28;
  transition: 0.35s;
}
.header__logo:hover {
  transition: 0.4s;
  border: 2px solid #EE6C4D;
}
.header__contact {
  padding-top: 20px;
}
.header__contact span {
  border: 2px solid transparent;
}
.header__contact span:hover {
  transition: 0.4s;
  color: #C4C4C4;
  border: 1px solid #EE6C4D;
}
.header__contact span:active {
  transition: 0.4s;
  background-color: #EE6C4D;
  color: #191F28;
}

/*footer*/
.footer {
  position: relative;
  width: 1864px;
  height: 433px;
  left: 0px;
  top: 3280px;
  background-color: #1D1D1D;
  text-align: center;
}
.footer .footer-top {
  padding-top: 69px;
  display: flex;
  margin-left: 685px;
  margin-bottom: 54px;
}
.footer .footer-top__title {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.17em;
  color: #c4c4c4;
  text-align: start;
  margin-right: 52px;
  background: linear-gradient(to right, #EC5A64 10%, #EE6C4D 50%, #E2DADA 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-animation: ortizdevelop-anim 4s linear infinite;
          animation: ortizdevelop-anim 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .footer-top__logo {
  margin-right: 38px;
}
.footer .footer-top__subtitle {
  padding-top: 30px;
  font-size: 18px;
  line-height: 100%;
  color: #c4c4c4;
  mix-blend-mode: normal;
}
.footer .footer-mid {
  margin-bottom: 53.5px;
  margin-left: 50px;
}
.footer .footer-mid__link {
  margin-right: 80px;
  transition: 0.2s;
}
.footer .footer-mid__link span {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.2045454532px;
  color: #c4c4c4;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.footer .footer-mid__link span:hover {
  background-color: #EE6C4D;
  color: #191F28;
  transition: 0.35s;
}
.footer .footer-mid__link span:active {
  color: #EE6C4D;
  background-color: transparent;
  transition: 0.35s;
}
.footer .footer-bot {
  margin-bottom: 46px;
  margin-left: 830px;
}
.footer .footer-bot__images ul {
  display: flex;
  width: 150px;
  transition: 0.2s;
}
.footer .footer-bot__images ul li {
  transition: 0.2s;
}
.footer .footer-bot__images ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-weight: 700;
  transition: 0.4s;
}
.footer .footer-bot__images ul li a span {
  position: absolute;
  color: #EE6C4D;
  opacity: 0;
  transition: 0.2s;
}
.footer .footer-bot__images ul li a span:last-child {
  margin-right: 44px;
}
.footer .footer-bot__images ul li a span:nth-child(2) {
  margin-right: 46px;
}
.footer .footer-bot__images ul li a img {
  transition: 0.2s;
}
.footer .footer-bot__images ul li a:hover img {
  transform: translateY(-15px);
  filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
  transition: 0.35s;
}
.footer .footer-bot__images ul li a:hover span {
  transform: translateY(10px);
  transition: 0.35s;
  opacity: 1;
}
.footer .footer-bot__images img {
  margin-right: 47px;
}
.footer .copyright__title {
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
  opacity: 50%;
  -webkit-animation: copyright-anim 8s infinite linear;
          animation: copyright-anim 8s infinite linear;
}

/*main.html*/
.main .about-head {
  position: relative;
  z-index: 1;
}
.main .about-head__body {
  transform: translateY(30px);
  width: 1865px;
  height: 1014px;
  padding-top: 280px;
  background: url("/img/main/bg-logo.png") 540px -100px no-repeat;
}
.main .about-head__content {
  margin-left: 160px;
}
.main .about-head__title {
  width: 472px;
  height: 213px;
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
}
.main .about-head__title span {
  color: #EE6C4D;
}
.main .about-head__title span:nth-child(3) {
  color: #FFFFFF;
  background: linear-gradient(to right, #EC5A64 10%, #EE6C4D 50%, #E2DADA 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-animation: ortizdevelop-anim 8s linear infinite;
          animation: ortizdevelop-anim 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .about-head__subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 70%;
}
.main .about-head__subtitle span {
  color: #EE6C4D;
}
.main .about-head__button {
  margin-top: 82px;
}
.main .about-head__button a span {
  border: 1px solid #EE6C4D;
  border-radius: 5px;
  font-size: 32px;
  color: #fff;
  padding: 30px 63px;
  transition: 0.35s;
}
.main .about-head__button a span:hover {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.main .about-head__button a span:active {
  box-shadow: 0 0 20px #EE6C4D;
  background: #EC5A64;
  transition: background 0.5s, color 0.5s, box-shadow 0.5s;
  filter: hue-rotate(20deg);
}
.main .about-head__line {
  margin-top: 102px;
  transform: translateX(44.5px);
}
.main #progress {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.main #progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #FFFFFF;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #191F28;
  transition: 0.3s;
}
.main .about-middle__body {
  margin-top: 104px;
  margin-left: 250px;
  width: 1440px;
  height: 1216px;
}
.main .about-middle__content {
  display: flex;
}
.main .about-middle__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}
.main .about-middle__title p {
  width: 340px;
  color: #FFFFFF;
}
.main .about-middle__title span {
  color: #EE6C4D;
}
.main .about-middle__subtitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  margin-top: 100px;
  transform: translateX(-340px);
}
.main .about-middle__subtitle p {
  width: 535px;
  color: #FFFFFF;
}
.main .about-middle__subtitle span {
  color: #EE6C4D;
}
.main .about-middle__subtitle span:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 0px;
  left: 0px;
  top: 120px;
  border: 1px solid #EE6C4D;
}
.main .about-middle__tools {
  transform: translate(-255px, 140px);
}
.main .about-middle__tools-column {
  width: 619px;
  background: url("/img/main/Rectangle 13.png") 0px 30px no-repeat;
  padding-top: 10px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}
.main .about-middle__tools-column li:nth-child(5) span {
  left: -15px;
}
.main .about-middle__tools-column li:nth-child(3) span {
  left: -5px;
}
.main .about-middle__tools-column li:nth-child(7) span {
  left: -7px;
}
.main .about-middle__tools-column li:nth-child(1) span {
  left: -3.5px;
}
.main .about-middle__tools-column li:nth-child(4) span {
  left: 2px;
}
.main .about-middle__tools-column li:nth-last-child(1) span {
  left: -1px;
}
.main .about-middle__tools-column li:nth-last-child(2) span {
  left: -2.5px;
}
.main .about-middle__tools-column li:nth-child(6) span {
  left: -5px;
}
.main .about-middle__tools-list {
  position: relative;
  display: inline;
  margin-right: 24px;
  box-shadow: -1.5px 30px 20px 5px #111111;
  transition: 0.35s;
}
.main .about-middle__tools-list img {
  transition: 0.3s;
}
.main .about-middle__tools-list span {
  position: absolute;
  left: 0;
  top: 5px;
  color: #EE6C4D;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}
.main .about-middle__tools-list:hover img {
  filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
  transition: 0.3s;
  transform: translateY(-5px);
}
.main .about-middle__tools-list:hover span {
  transform: translateY(-29px);
  transition: 0.3s;
  opacity: 1;
}
.main .about-middle__img {
  margin-top: 187px;
  transform: translate(-1767px, 187px);
}
.main .about-middle__column {
  margin-top: 187px;
  transform: translate(-1308px, 187px);
}
.main .about-middle__list {
  margin-bottom: 44px;
}
.main .about-middle__list p {
  position: relative;
  z-index: 2;
}
.main .about-middle__list p:nth-child(2) {
  color: #FFFFFF;
  width: 449px;
  height: 72px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin-bottom: 28px;
  transition: 0.2s;
}
.main .about-middle__list p:nth-child(2):hover {
  color: #EE6C4D;
  transition: 0.2s;
}
.main .about-middle__list p:nth-child(3) {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.12em;
}
.main .about-middle__list .list-line1::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 0px;
  left: 55px;
  top: 250px;
  border: 1px solid #EE6C4D;
}
.main .about-middle__list .list-line2::before {
  content: "";
  position: absolute;
  width: 259px;
  height: 0px;
  left: 55px;
  top: 500px;
  border: 1px solid #EE6C4D;
}
.main .about-middle__list img {
  transform: translate(-107px, 60px);
}
.main .about-middle__box {
  width: 585.5px;
  height: 685px;
  transform: translate(-120px, -720px);
  border: 1px solid #EE6C4D;
  border-radius: 10px;
}
.main .about-bottom__body {
  margin-top: 77px;
  margin-left: 190px;
}
.main .about-bottom__title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.12em;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  transform: translate(100px, -450px);
}
.main .about-bottom__title span {
  color: #191F28;
}
.main .about-bottom__button {
  font-size: 32px;
  background-color: transparent;
  transform: translate(130px, -265px);
  border: 1px solid #EE6C4D;
  padding: 21px 90px;
  border-radius: 5px;
  transition: 0.35s;
}
.main .about-bottom__button span {
  transition: 0.35s;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 36px;
}
.main .about-bottom__button:hover {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.main .about-bottom__button:hover span {
  color: #191F28;
}
.main .about-bottom__button:active {
  box-shadow: 0 0 20px #EE6C4D;
  background: #EC5A64;
  transition: background 0.5s, color 0.5s, box-shadow 0.5s;
  filter: hue-rotate(20deg);
}
.main .about-bottom__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  transform: translateY(113.5px);
}
.main .about-bottom__contact {
  border: 1px solid #EE6C4D;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 17px 60px;
  transform: translate(950px, 50px);
  transition: 0.35s;
}
.main .about-bottom__contact span {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  transition: 0.35s;
}
.main .about-bottom__contact:hover {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.main .about-bottom__contact:hover span {
  color: #191F28;
}
.main .about-bottom__contact:active {
  box-shadow: 0 0 20px #EE6C4D;
  background: #EC5A64;
  transition: background 0.5s, color 0.5s, box-shadow 0.5s;
  filter: hue-rotate(20deg);
}

/*projects-main.html*/
.projects__body {
  transform: translate(120px, 450px);
}
.projects__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.12em;
  color: #C4C4C4;
  margin-bottom: 32px;
}
.projects__title span {
  color: #C4C4C4;
  background: linear-gradient(to right, #EC5A64 10%, #EE6C4D 50%, #E2DADA 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-animation: ortizdevelop-anim 4s linear infinite;
          animation: ortizdevelop-anim 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects__text {
  font-size: 24px;
  letter-spacing: 0.12em;
  color: #c4c4c4;
}
.projects__text p {
  margin-bottom: 55px;
}
.projects__text a {
  transition: 0.15s;
}
.projects__text a span {
  position: relative;
  top: 0;
  left: -55px;
  color: #EE6C4D;
  transition: 0.15s;
  border-radius: 5px;
}
.projects__text a span::before {
  content: "";
  position: relative;
  display: inline-block;
  height: 2px;
  width: 55px;
  background-color: #EE6C4D;
  border: 1px solid #EE6C4D;
  top: 5px;
  left: 150px;
  transition: 0.15s;
}
.projects__text a span:hover {
  color: #EC5A64;
  left: -220px;
}
.projects__text a span:hover::before {
  content: "";
  position: relative;
  top: 7.5px;
  width: 220px;
  left: 223px;
  border: 1.5px solid #EC5A64;
}

.project-slider__slider-body {
  width: 587px;
  height: 320px;
  overflow: hidden;
  border-bottom: 10px solid #EE6C4D;
  transform: translate(900px, -320px);
}
.project-slider input[name=r] {
  position: absolute;
  visibility: hidden;
}
.project-slider__slides {
  width: 600%;
  height: 100%;
  display: flex;
}
.project-slider__slide {
  width: 25%;
  transition: all 0.3s ease;
}
.project-slider__slide img {
  width: 100%;
  height: 100%;
}
.project-slider__navigation {
  width: 412px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  display: flex;
  transform: translate(265px, -160px);
  background: url("/img/projects/slider/arrows.png") 0px 10px no-repeat;
}
.project-slider__bar {
  position: relative;
  left: 60px;
  height: 20px;
  width: 20px;
  margin: 14px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #C4C4C4;
  transition: all 0.3s ease;
}
.project-slider__bar:hover {
  background-color: #EE6C4D;
  transform: scale(1.1);
}
.project-slider #r1:checked ~ .s1 {
  margin-left: 0;
}
.project-slider #r2:checked ~ .s1 {
  margin-left: -22%;
}
.project-slider #r3:checked ~ .s1 {
  margin-left: -53%;
}
.project-slider #r4:checked ~ .s1 {
  margin-left: -79%;
}
.project-slider #r5:checked ~ .s1 {
  margin-left: -102%;
}
.project-slider #r6:checked ~ .s1 {
  margin-left: -125%;
}

/*projects-page.html*/
.projects-pages__body {
  transform: translate(120px, 450px);
  width: 600px;
}
.projects-pages__title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 54px;
  color: #C4C4C4;
  margin-bottom: 106px;
  transition: 0.3s;
  transform: translateY(-100px);
  -webkit-animation: projects-anim 1s linear;
          animation: projects-anim 1s linear;
}
.projects-pages__title span {
  color: #C4C4C4;
  background: linear-gradient(to right, #EC5A64 10%, #EE6C4D 50%, #E2DADA 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-animation: ortizdevelop-anim 4s linear infinite;
          animation: ortizdevelop-anim 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-pages__text {
  position: absolute;
  top: 166px;
  left: 0;
  font-size: 24px;
  letter-spacing: 0.12em;
  line-height: 27px;
  color: #c4c4c4;
  transition: 0.3s;
  transform: translateY(-100px);
  -webkit-animation: projects-anim 1s linear;
          animation: projects-anim 1s linear;
}
.projects-pages__text p {
  margin-bottom: 55px;
  transition: 0.3s;
}
.projects-pages__text a span {
  position: relative;
  left: 0;
  top: 0;
  color: #EE6C4D;
  border-radius: 5px;
  transition: 0.3s;
}
.projects-pages__text a span:hover {
  color: #EC5A64;
  transition: 0.3s;
}
.projects-pages__text a span:active {
  background-color: #EC5A64;
  color: #191F28;
  transition: 0.3s;
}
.projects-pages__tools-and-links {
  display: flex;
  position: absolute;
  top: 341px;
  left: 0;
  -webkit-animation: projects-anim 1s linear;
          animation: projects-anim 1s linear;
}
.projects-pages__tools-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 40px;
  color: #ee6c4d;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.projects-pages__links-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 40px;
  color: #ee6c4d;
  transform: translateX(236px);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.projects-pages__tools-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: translate(-325px, 86px);
}
.projects-pages__tools-img li {
  position: relative;
  width: 70px;
  height: 70px;
}
.projects-pages__tools-img li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects-pages__tools-img li a span {
  transform: translateY(0px);
  position: absolute;
  color: #EE6C4D;
  opacity: 0;
  transition: 0.2s;
  font-weight: bold;
}
.projects-pages__tools-img li a:hover img {
  filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
  transition: 0.35s;
}
.projects-pages__tools-img li a:hover span {
  transform: translateY(-35px);
  transition: 0.35s;
  opacity: 1;
}
.projects-pages__tools-img img {
  width: 36px;
  height: 36px;
  transition: 0.2s;
}
.projects-pages__links-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: translate(-180px, 86px);
}
.projects-pages__links-img li {
  position: relative;
  width: 70px;
  height: 70px;
}
.projects-pages__links-img li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects-pages__links-img li a span {
  transform: translateY(0px);
  position: absolute;
  color: #EE6C4D;
  opacity: 0;
  transition: 0.2s;
  font-weight: bold;
}
.projects-pages__links-img li a:hover img {
  filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
  transition: 0.35s;
}
.projects-pages__links-img li a:hover span {
  transform: translateY(-35px);
  transition: 0.35s;
  opacity: 1;
}
.projects-pages__links-img img {
  width: 36px;
  height: 36px;
  transition: 0.2s;
}

.project-pages-slider {
  position: absolute;
  width: 779px;
  height: 837px;
  left: 663px;
  top: -188px;
  background-color: #252E3B;
}
.project-pages-slider__slider-body {
  position: absolute;
  width: 672px;
  height: 284px;
  left: 50px;
  top: 239px;
  overflow: hidden;
  border: 5px solid #EE6C4D;
  border-radius: 5px;
}
.project-pages-slider input[name=r] {
  position: absolute;
  visibility: hidden;
}
.project-pages-slider__slides {
  width: 400%;
  height: 100%;
  display: flex;
}
.project-pages-slider__slide {
  width: 25%;
  transition: all 0.3s ease;
}
.project-pages-slider__slide img {
  width: 100%;
  height: 100%;
}
.project-pages-slider__navigation {
  width: 412px;
  position: absolute;
  bottom: 16px;
  left: -80px;
  display: flex;
  transform: translate(265px, -160px);
  background: url("/img/projects/slider/arrows.png") 0px 10px no-repeat;
}
.project-pages-slider__bar {
  position: relative;
  left: 130px;
  top: 0;
  height: 20px;
  width: 20px;
  margin: 14px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #C4C4C4;
  transition: all 0.3s ease;
}
.project-pages-slider__bar:hover {
  background-color: #EE6C4D;
  transform: scale(1.1);
}
.project-pages-slider #r1:checked ~ .s1 {
  margin-left: 0px;
}
.project-pages-slider #r2:checked ~ .s1 {
  margin-left: -25%;
}
.project-pages-slider #r3:checked ~ .s1 {
  margin-left: -50%;
}
.project-pages-slider #r4:checked ~ .s1 {
  margin-left: -79%;
}
.project-pages-slider #r5:checked ~ .s1 {
  margin-left: -102%;
}
.project-pages-slider #r6:checked ~ .s1 {
  margin-left: -125%;
}

/*contacts.html*/
.contacts .contact-us__body {
  transform: translate(120px, 230px);
}
.contacts .contact-us__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.12em;
  color: #c4c4c4;
  line-height: 54px;
  background: linear-gradient(to right, #EC5A64 10%, #EE6C4D 50%, #E2DADA 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-animation: ortizdevelop-anim 8s linear infinite;
          animation: ortizdevelop-anim 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts .contact-us__subtitle {
  margin-top: 46px;
  font-size: 24px;
  letter-spacing: 0.12em;
  color: #fff;
  line-height: 27px;
}
.contacts .contact-us-form__body {
  transform: translate(900px, -80px);
}
.contacts .contact-us-form input {
  width: 250px;
  height: 68px;
  background-color: rgba(217, 217, 217, 0.1);
  border: 1px solid #ee6c4d;
  border-radius: 5px;
}
.contacts .contact-us-form p {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 8.5px;
}
.contacts .contact-us-form__name input {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  padding-left: 5px;
}
.contacts .contact-us-form__name input::-moz-placeholder {
  padding-left: 85px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__name input:-ms-input-placeholder {
  padding-left: 85px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__name input::placeholder {
  padding-left: 85px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__name input:focus {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.contacts .contact-us-form__name input:focus::-moz-placeholder {
  color: #191F28;
}
.contacts .contact-us-form__name input:focus:-ms-input-placeholder {
  color: #191F28;
}
.contacts .contact-us-form__name input:focus::placeholder {
  color: #191F28;
}
.contacts .contact-us-form__mail {
  transform: translate(325px, -108.5px);
}
.contacts .contact-us-form__mail input {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  padding-left: 30px;
  width: 350px;
}
.contacts .contact-us-form__mail input::-moz-placeholder {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
.contacts .contact-us-form__mail input:-ms-input-placeholder {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
.contacts .contact-us-form__mail input::placeholder {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
.contacts .contact-us-form__mail input:focus {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.contacts .contact-us-form__mail input:focus::-moz-placeholder {
  color: #191F28;
}
.contacts .contact-us-form__mail input:focus:-ms-input-placeholder {
  color: #191F28;
}
.contacts .contact-us-form__mail input:focus::placeholder {
  color: #191F28;
}
.contacts .contact-us-form__message textarea {
  width: 575px;
  height: 380px;
  background-color: rgba(217, 217, 217, 0.1);
  border: 1px solid #ee6c4d;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__message textarea::-moz-placeholder {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__message textarea:-ms-input-placeholder {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__message textarea::placeholder {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.contacts .contact-us-form__button {
  position: relative;
  width: 545px;
  height: 69px;
  padding: 16px 170px;
  border: 1px solid #EE6C4D;
  transform: translate(16px, 32px);
  z-index: 4;
}
.contacts .contact-us-form__button span {
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  line-height: 36px;
  background-color: #191F28;
}
.contacts .contact-us-form__button:hover {
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.contacts .contact-us-form__button:hover span {
  color: #191F28;
  background: #EE6C4D;
  box-shadow: 0 0 40px #EE6C4D;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(0deg);
}
.contacts .contact-us-form__button:active {
  background: #EC5A64;
  box-shadow: 0 0 40px #EC5A64;
  color: #191F28;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.contacts .contact-us-form__button:active span {
  color: #191F28;
  background: #EC5A64;
  box-shadow: 0 0 40px #EC5A64;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(0deg);
}
.contacts .contact-us-images {
  width: 0px;
}
.contacts .contact-us-images__body {
  width: 60%;
  transform: translate(0px, -500px);
}
.contacts .contact-us-images__bg {
  position: relative;
  z-index: 1;
}
.contacts .contact-us-images__bg span {
  position: absolute;
  width: 1091.01px;
  height: 954px;
  background: url("/img/contacts/bg.png");
  transform: translate(-200px, -800px);
}
.contacts .contact-us-images__media {
  position: relative;
  z-index: 3;
  transform: translate(700px, 46px);
}
.contacts .contact-us-images__list {
  margin-bottom: 109px;
  transition: 0.35s;
  width: 70px;
}
.contacts .contact-us-images__list span {
  position: absolute;
  color: #EE6C4D;
  opacity: 0;
  padding-top: 20px;
  transition: 0.35s;
}
.contacts .contact-us-images__list img {
  transition: 0.35s;
}
.contacts .contact-us-images__list:nth-child(3) span {
  padding-left: 10px;
}
.contacts .contact-us-images__list:hover img {
  filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
  transition: 0.35s;
}
.contacts .contact-us-images__list:hover span {
  transform: translatex(-85px);
  transition: 0.35s;
  opacity: 1;
  font-weight: bold;
}

/*Анимации*/
@-webkit-keyframes copyright-anim {
  0% {
    color: #C4C4C4;
  }
  50% {
    color: #EE6C4D;
    opacity: 100%;
  }
  100% {
    color: #C4C4C4;
  }
}
@keyframes copyright-anim {
  0% {
    color: #C4C4C4;
  }
  50% {
    color: #EE6C4D;
    opacity: 100%;
  }
  100% {
    color: #C4C4C4;
  }
}
@-webkit-keyframes ortizdevelop-anim {
  to {
    background-position: 200% center;
  }
}
@keyframes ortizdevelop-anim {
  to {
    background-position: 200% center;
  }
}
@-webkit-keyframes projects-anim {
  0% {
    left: -100%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0%;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@keyframes projects-anim {
  0% {
    left: -100%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0%;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}