//* Templates
$border1: 2px solid red;
$border2: 2px solid blue;
$border3: 2px solid pink;

$bd1: 1px solid #EE6C4D;

$color1: #EE6C4D;
$color2: #FFFFFF;
$color3: #C4C4C4;
$color4: #191F28;
$color5: #1D1D1D;
$color6: #EC5A64;

$bd1: 1px solid $color1;

@import url('/scss/templates.scss');

@media screen and (min-width: 320px) and (max-width: 480px){
    // * Main HTML Settings
    html, body{
        //* JS Script Classes
        .header{
            position: absolute;
            top: -55px;
            left: -90px;

            &__links{
                padding-top: 20px;
                padding-left: 5px;
                width: 180px;
                height: 10px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 30px;
                background-color: $color4;
                text-align: left;
                align-items: flex-start;
                border-radius: 5px;
                border: 1px solid $color4;
            }

            &__link-about{
                position: absolute;
                top: -30px;
                opacity: 0;
            }

            &__link-projects{
                position: absolute;
                top: -30px;
                margin-right: 0;
                opacity: 0;
            }
            
            &__contact{
                position: absolute;
                top: -30px;
                opacity: 0;
            }

            &__logo{
                grid-area: 1 / 1 / 2 / 2;
                margin-right: 0;
            }

            
        } 
        
        .activeBurgerMenu{
            transition: 0.3s;
        
            .header{
                transition: 0.3s;
        
                &__links{
                    position: relative;
                    bottom: 50px;
                    right: 150px;
                    background-color: $color5;
                    border: 1px solid $color1;
                    height: 310px;
        
                    a{
                        transition: 0.35s;
            
                        span{
                
                            &:hover{
                                border: none;
                                transition: 0.35s;
                            }
            
                            &:active{
                                transition: 0.35s;
                                background-color: $color4;
                                color: $color1;
                            }
                        }
                    }
                }
        
                &__link-about{
                    position: absolute;
                    transform: translateY(140px);
                    opacity: 1;
                    transition: 0.3s;
                }
        
                &__link-projects{
                    position: absolute;
                    transform: translateY(200px);
                    margin-right: 0;
                    opacity: 1;
                    transition: 0.3s;
                }
        
                &__logo{
                    border: none;
                }
                
                &__contact{
                    position: absolute;
                    transform: translateY(260px);
                    opacity: 1;
                    transition: 0.3s;
                }
            }
        } 

        .main{
            .footer{
                position: absolute;
                top: 4110px;
            }
        }

        .projects-main{
            .footer{
                position: absolute;
                top: 1310px;
            }
        }

        .projects-page{
            .footer{
                position: absolute;
                top: 2180px;
            }
        }

        .contacts{
            .footer{
                position: absolute;
                top: 1289px;
            }
        }

        footer{
            width: 100%;
            text-align: center;

            .footer-top{
                width: 100%;
                margin: 0;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin-bottom: 34px;

                &__title{
                    margin: 0;
                    font-size: 14px;
                }

                &__logo{
                    margin-left: 15px;
                    margin-right: 15px;
                    font-size: 14px;
                }

                &__subtitle{
                    margin: 0;
                    font-size: 14px;
                    width: 100px;
                }
            }

            .footer-mid{
                width: 100%;
                margin: 0;
                text-align: center;
                display: flex;
                justify-content: center;
                margin-bottom: 42.5px;

                &__links{
                    width: 100%;
                    text-align: center;
                }

                &__link{
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
            }

            .footer-bot{
                width: 100%;
                margin: 0;
                text-align: center;
                margin-bottom: 45px;

                &__images{
                    text-align: center;
                    margin: 0;

                    ul{
                        text-align: center;
                        width: 100%;

                        li{
                            text-align: center;
                            width: 100%;
                            
                            &:nth-child(1){
                                position: relative;
                                left: 5 5px;
                            }

                            &:nth-child(4){
                                position: relative;
                                right: 5    5px;
                            }

                            a{

                                &:hover{
                                    img{
                                        transform: translateY(-5px);
                                        filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
                                        transition: 0.35s;
                                    }
    
                                    span{
                                        transform: translateY(-30px);
                                        transition: 0.35s;
                                        opacity: 1;
                                    }
                                }

                                span{
                                    position: absolute;

                                    &:nth-child(1){
                                        margin: 0;
                                    }

                                    &:nth-child(2){
                                        margin: 0;
                                    }

                                    &:nth-child(3){
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }

                    img{
                        margin: 0;
                    }
                }
            }

            .copyright{
                width: 100%;
                margin: 0;
                transform: translateX(0px);
                text-align: center;

                &__title{
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
    // *

    @keyframes title-anim{ //* Animation for website header
        40%, 60%{
            left: 350px;
        }
    
        85%, 100%{
            left: 240px;
        }
    } 

    // * index.html
    .main{
        width: 100%;
        
        .about{
            position: relative;
            top: 35px;
            width: 100%;
            
            .about-head{
                
                &__body{
                    width: 100%;
                    position: relative;
                    right: 150px;
                }

                &__title{
                    font-size: 40px;

                    .second-text{
                        &::before{
                            content: '';
                            position: absolute;
                            left: 240px;
                            top: 320px;
                            width: 194px;
                            height: 34px;
                            background-color: $color4;
                            border-left: $bd1;
                            animation: title-anim 3.9s steps(12) infinite;
                        }
                    }
                }

                &__subtitle{
                    width: 100%;
                    font-size: 20px;
                }

                &__button{
                    width: 100%;
                    position: relative;

                    a{
                        span{
                            padding: 10px;
                            font-size: 14px;
                        }
                    }
                }

                &__line{
                    width: 100%;

                    img{
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        top: 1px;
                        left: 1px;
                    }
                }
            }

            #progress{
                position: fixed;
                bottom: 20px;
                right: 90%;
                height: 70px;
                width: 70px;
                display: none;
                place-items: center;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                transition: .3s;
                z-index: 100;
            }
    
            .about-middle{
                width: 100%;
                
                &__body{
                    width: 100%;
                    margin: 0;
                }

                &__content{
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                }

                &__title{
                    width: 100%;
                    margin: 0;
                    transform: translate(0px);
                    font-size: 20px;
                }

                &__subtitle{
                    width: 100%;
                    margin: 0;
                    transform: translate(0px);
                    font-size: 20px;

                    p{
                        width: 100%;
                    }

                    span{
                        color: $color1;
                        
                        &:nth-child(2){
                            &::before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 0px;
                                left: 0px;
                                top: 120px;
                                border: $bd1;
                            }
                        }
                    }
                }

                &__tools{
                    width: 100%;
                    margin: 50px 0px 0px 0px;
                    transform: translate(0);
                }

                &__tools-column{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    background: none;
                    border: $bd1;
                    border-radius: 3px;

                    li{
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        margin-right: 30px;
                        margin-bottom: 75px;
                    }
                }

                &__img{
                    width: 100%;
                    position: relative;
                    margin: 0;
                    transform: translate(0);

                    img{
                        width: 100%;
                    }
                }

                &__column{
                    width: 100%;
                    border: $bd1;
                    margin: 0;
                    transform: translate(0);
                    border-radius: 3px;
                    margin-top: 50px;
                }

                &__list{
                    border-radius: 3px;
                    
                    p{
                        font-size: 17px;
                        width: 100%;
                        text-align: center;
                        line-height: 30px;
                    }

                    img{
                        position: relative;
                        left: 74%;
                        top: 30px;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        align-items: center;
                    }

                    .list-line1{
                        &::before{
                            content: '';
                            position: absolute;
                            width: 60%;
                            height: 0px;
                            left: 20%;
                            top: 200px;
                            border: $bd1;
                        }
                    }

                    .list-line2{
                        &::before{
                            content: '';
                            position: absolute;
                            width: 60%;
                            height: 0px;
                            left: 20%;
                            top: 455px;
                            border: $bd1;
                        }
                    }
                }

                &__box{
                    display: none;
                    position: relative;
                    width: 100%;
                    border-radius: 3px;
                    height: 0;
                }
            }
    
            .about-bottom{
                margin-top: 550px;
                width: 100%;
                
                &__body{
                    width: 100%;
                    margin: 0;
                    transform: translate(0);
                }

                &__banner{
                    width: 100%;
                    margin: 0px 0px 20px 0px;
                    transform: translate(0);

                    img{
                        width: 100%;
                    }
                }

                &__title{
                    width: 100%;
                    margin: 0px 0px 40px 0px;
                    transform: translate(0);
                    text-align: center;

                    span{
                        color: $color1;
                    }
                }

                &__btn{
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    transform: translate(0);
                }

                &__button{
                    width: 50%;
                    text-align: center;
                    margin: 0;
                    transform: translate(0);
                    padding: 15px;
                }
                
                &__line{
                    width: 100%;
                    margin: 50px 0px 0px 0px;
                    transform: translate(0);

                    img{
                        margin: 0;
                        transform: translate(0);
                        width: 100%;
                    }
                }

                &__text{
                    width: 100%;
                    margin: 150px 0px 0px 0px;
                    transform: translate(0);
                    text-align: center;
                }

                &__contact{
                    width: 100%;
                    margin: 50px 0px 0px 0px;
                    transform: translate(0);
                    text-align: center;
                }
            }
        } 
    }

    // * projects-main.html
    .projects-main{
        .projects{
            width: 100%;

            &__body {
                width: 100%;
                transform: translate(0px,380px);
            }

            &__title{
                width: 100%;
                position: relative;
                left: 22px;
            }

            &__text{
                width: 100%;
                position: relative;
                left: 22px;

                p, a{
                    width: 100%;
                }
            }
        }

        .project-slider{
            width: 100%;
            text-align: center;
            align-items: center;

            &__body{
                width: 100%;
                text-align: center;
                border: $bd1;
            }

            &__slider-body{
                width: 100%;
                position: relative;
                transform: translate(0px,0px);
            }

            &__navigation{
                transform: translate(0px,0px);
                display: flex;
                position: relative;
                text-align: center;
                justify-content: center;
                align-items: center;
                bottom: -55px;
                left: 0%;
                width: 100%;
                margin: 0;
                background: none;
            }

            &__bar{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-wrap: nowrap;
                padding: 0; 
                left: 0;
                top: 0;
            }
        }
    }

    // * projects-page.html
    .projects-page{

        .projects-pages{
            
            &__body {
                position: relative;
                left: 0;
                top: 450px;
                transform: translate(0px);
                width: 100%;
                margin: 0;
            }

            &__title{
                width: 100%;
                margin: 0px 0px 66px 0px;
                position: relative;
                left: 0;
                transform: translate(0px);
            }

            &__text{
                width: 100%;
                position: relative;
                left: 0;
                top: 0;
                transform: translate(0);
                margin: 0;
            }

            &__tools-and-links{
                position: relative;
                width: 100%;
                left: 0;
                right: 0;
                top: 0;
                margin: 55px 0px 0px 0px;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;

                p{
                    width: 100%;
                    transform: translate(0);
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                }

                ul{
                    width: 100%;
                    position: relative;
                    margin: 0;

                }
            }

            &__tools-title{
                width: 100%;
                position: relative;
            }

            &__tools-img{
                position: relative;
                width: 100%;
                margin: 0;
                transform: translate(0);
                top: 50px;
            }

            &__links-title{
                position: relative;
                width: 100%;
                top: 15px;
            }

            &__links-img{
                position: relative;
                width: 100%;
                margin: 0;
                transform: translate(0);
                top: 70px;  
            }
        }

        .project-pages-slider{
            width: 100%;
            margin: 0;
            left: 0;
            top: 960px;
            transform: translate(0);
            
            &__body{
                height: 1px;
            }
            
            &__slider-body{
                position: relative;
                left: 0px;
                top: 239px;
                width: 100%;
            }

            &__navigation{
                position: absolute;
                width: 100%;
                left: 0px;
                top: 450px;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin: 0;
                transform: translate(0);
                background: none;
            }

            &__bar{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-wrap: nowrap;
                padding: 0; 
                left: 0;
                top: 0;
            }
        }
    }

    // * contacts.html
    .contacts{
        .contact-us{
            &__body {
                transform: translate(0px, 380px);
                width: 100%;
            }

            .contact-us-form{
                &__body {
                    display: none;
                }
            }

            .contact-us-images{
                width: 100%;
                transform: translate(0px,0px);

                &__body{
                    width: 100%;
                    transform: translate(0px,100px)
                }

                &__bg {
                    position: relative;
                    top: 500px;
                    z-index: 1;
            
                    p{
                        position: absolute;
                        width: 200%;
                        background: url('/img/contacts/bg.png');
                        transform: translate(-200px,-800px);
                    }
                }

                &__media {
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    transform: translate(0px,550px);
                    text-align: center;

                    ul{
                        width: 100%;

                        li{
                            width: 100%;
                            display: inline;

                            img{
                                width: 52px;
                                height: 52px;
                            }

                            &:nth-child(2){
                                margin-left: 45px;
                                margin-right: 45px;
                            }

                            &:hover{
                                img{
                                    filter: invert(52%) sepia(51%) saturate(1612%) hue-rotate(330deg) brightness(98%) contrast(89%);
                                    transition: 0.35s;
                                }
                    
                                span{
                                    transform: translateY(-45px);
                                    transition: 0.35s;
                                    opacity: 1;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:801px){
    html, body{
        //* JS Script Classes
        .header{
            position: absolute;

        &__links{
            padding-top: 20px;
            padding-left: 5px;
            width: 180px;
            height: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 30px;
            background-color: $color4;
            text-align: left;
            align-items: flex-start;
            border-radius: 5px;
            border: 1px solid $color4;
        }

        &__link-about{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__link-projects{
            position: absolute;
            top: -30px;
            margin-right: 0;
            opacity: 0;
        }
        
        &__contact{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__logo{
            grid-area: 1 / 1 / 2 / 2;
            margin-right: 0;
        }

            .activeBurgerMenu{
                transition: 0.3s;
            
                .header{
                    transition: 0.3s;
            
                    &__links{
                        position: relative;
                        bottom: 50px;
                        right: 50px;
                        background-color: $color5;
                        border: 1px solid $color1;
                        height: 310px;
            
                        a{
                            transition: 0.35s;
                
                            span{
                    
                                &:hover{
                                    border: none;
                                    transition: 0.35s;
                                }
                
                                &:active{
                                    transition: 0.35s;
                                    background-color: $color4;
                                    color: $color1;
                                }
                            }
                        }
                    }
            
                    &__link-about{
                        position: absolute;
                        transform: translateY(140px);
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__link-projects{
                        position: absolute;
                        transform: translateY(200px);
                        margin-right: 0;
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__logo{
                        border: none;
                    }
                    
                    &__contact{
                        position: absolute;
                        transform: translateY(260px);
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            } 
        }  
        
        .main{
            .footer{}
        }

        .projects-main{
            .footer{}
        }

        .contacts{
            .footer{}
        }
    }
} 


