//* Шаблоны
$border1: 2px solid red;
$border2: 2px solid blue;
$border3: 2px solid pink;

$bd1: 1px solid #EE6C4D;

$color1: #EE6C4D;
$color2: #FFFFFF;
$color3: #C4C4C4;
$color4: #191F28;
$color5: #1D1D1D;
$color6: #EC5A64;

$bd1: 1px solid $color1;

@media screen and (min-width:320px) and (max-width:480px){
    html, body{
        //* JS Script Classes
        .header{
            position: absolute;

        &__links{
            padding-top: 20px;
            padding-left: 5px;
            width: 180px;
            height: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 30px;
            background-color: $color4;
            text-align: left;
            align-items: flex-start;
            border-radius: 5px;
            border: 1px solid $color4;
        }

        &__link-about{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__link-projects{
            position: absolute;
            top: -30px;
            margin-right: 0;
            opacity: 0;
        }
        
        &__contact{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__logo{
            grid-area: 1 / 1 / 2 / 2;
            margin-right: 0;
        }

            .activeBurgerMenu{
                transition: 0.3s;
            
                .header{
                    transition: 0.3s;
            
                    &__links{
                        position: relative;
                        bottom: 50px;
                        right: 50px;
                        background-color: $color5;
                        border: 1px solid $color1;
                        height: 310px;
            
                        a{
                            transition: 0.35s;
                
                            span{
                    
                                &:hover{
                                    border: none;
                                    transition: 0.35s;
                                }
                
                                &:active{
                                    transition: 0.35s;
                                    background-color: $color4;
                                    color: $color1;
                                }
                            }
                        }
                    }
            
                    &__link-about{
                        position: absolute;
                        transform: translateY(140px);
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__link-projects{
                        position: absolute;
                        transform: translateY(200px);
                        margin-right: 0;
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__logo{
                        border: none;
                    }
                    
                    &__contact{
                        position: absolute;
                        transform: translateY(260px);
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            } 
        }    

        .main{
            .footer{}
        }

        .projects-main{
            .footer{}
        }

        .contacts{
            .footer{}
        }
    }

    .about{}

    .projects{}

    .projects-pages{}

    .contact-us{}
}

@media screen and (min-width:481px) and (max-width:801px){
    html, body{
        //* JS Script Classes
        .header{
            position: absolute;

        &__links{
            padding-top: 20px;
            padding-left: 5px;
            width: 180px;
            height: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 30px;
            background-color: $color4;
            text-align: left;
            align-items: flex-start;
            border-radius: 5px;
            border: 1px solid $color4;
        }

        &__link-about{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__link-projects{
            position: absolute;
            top: -30px;
            margin-right: 0;
            opacity: 0;
        }
        
        &__contact{
            position: absolute;
            top: -30px;
            opacity: 0;
        }

        &__logo{
            grid-area: 1 / 1 / 2 / 2;
            margin-right: 0;
        }

            .activeBurgerMenu{
                transition: 0.3s;
            
                .header{
                    transition: 0.3s;
            
                    &__links{
                        position: relative;
                        bottom: 50px;
                        right: 50px;
                        background-color: $color5;
                        border: 1px solid $color1;
                        height: 310px;
            
                        a{
                            transition: 0.35s;
                
                            span{
                    
                                &:hover{
                                    border: none;
                                    transition: 0.35s;
                                }
                
                                &:active{
                                    transition: 0.35s;
                                    background-color: $color4;
                                    color: $color1;
                                }
                            }
                        }
                    }
            
                    &__link-about{
                        position: absolute;
                        transform: translateY(140px);
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__link-projects{
                        position: absolute;
                        transform: translateY(200px);
                        margin-right: 0;
                        opacity: 1;
                        transition: 0.3s;
                    }
            
                    &__logo{
                        border: none;
                    }
                    
                    &__contact{
                        position: absolute;
                        transform: translateY(260px);
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            } 
        }  
        
        .main{
            .footer{}
        }

        .projects-main{
            .footer{}
        }

        .contacts{
            .footer{}
        }
    }
} 


