//* Basic site styles
$border1: 2px solid red;
$border2: 2px solid blue;
$border3: 2px solid pink;

$bd1: 1px solid #EE6C4D;

$color1: #EE6C4D;
$color2: #FFFFFF;
$color3: #C4C4C4;
$color4: #191F28;
$color5: #1D1D1D;
$color6: #EC5A64;

$bd1: 1px solid $color1;